version: 2
jobs:
  backend:
    docker:
      - image: circleci/golang
    environment:
      GOPATH: /home/circleci/go
      GO111MODULE: on
    working_directory: /home/circleci/go/src/github.com/takkyuuplayer/homepage4.0
    steps:
      - checkout
      - run: make
      - run: make test
      - run: make build
      - persist_to_workspace:
          root: .
          paths:
            - ./build
  frontend:
    docker:
      - image: circleci/node
    steps:
      - checkout
      - run: make -C web
      - run: make test -C web
      - run: make build -C web
      - persist_to_workspace:
          root: .
          paths:
            - ./web/public
  deploy:
    docker:
      - image: circleci/python:2.7-jessie
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run: sudo pip install awscli
      - run: make production

workflows:
  version: 2
  build_and_test:
    jobs:
      - backend
      - frontend
      - deploy:
          requires:
            - backend
            - frontend
          filters:
            branches:
              only: master
