name: CI
on:
  push:
    branches:
      - "main"
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

permissions:
  id-token: write
  contents: read

jobs:
  backend-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
      - run: make
      - run: make test
      - run: make build
      - uses: actions/upload-artifact@v5
        if: github.ref == 'refs/heads/main'
        with:
          name: build
          path: build
  frontend-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 22
      - run: make -C web
      - run: make test -C web
      - run: make build -C web
      - uses: actions/upload-artifact@v5
        if: github.ref == 'refs/heads/main'
        with:
          name: public
          path: web/public
  deploy:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    needs:
      - backend-test
      - frontend-test
    steps:
      - uses: actions/checkout@v5
      - uses: actions/download-artifact@v6
        with:
          name: build
          path: build
      - uses: actions/download-artifact@v6
        with:
          name: public
          path: web/public

      - uses: aws-actions/configure-aws-credentials@v5
        with:
          audience: sts.amazonaws.com
          aws-region: ap-northeast-1
          role-to-assume: ${{ secrets.AWS_DEPLOYMENT_ROLE }}
      - run: make deploy
