name: CI
on:
  - push

permissions:
  id-token: write
  contents: read

jobs:
  backend-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version-file: "go.mod"
      - run: make
      - run: make test
      - run: make build
      - uses: actions/upload-artifact@v3
        with:
          name: build
          path: build
  frontend-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: make -C web
      - run: make test -C web
      - run: make build -C web
      - uses: actions/upload-artifact@v3
        with:
          name: public
          path: web/public
  deploy:
    runs-on: ubuntu-latest
    needs:
      - backend-test
      - frontend-test
    steps:
      # - uses: actions/checkout@v4
      - uses: actions/download-artifact@v3
        with:
          name: build
      - uses: actions/download-artifact@v3
        with:
          name: public
      - run: |
          tree

      # - uses: aws-actions/configure-aws-credentials@v4
      #   with:
      #     audience: sts.amazonaws.com
      #     aws-region: ap-northeast-1
      #     role-to-assume: ${{ secrets.AWS_DEPLOYMENT_ROLE }}
      # - run: make deploy
