name: Update Dependencies
on:
  schedule:
    - cron: "38 17 26 * *"

env:
  NODE_MINOR_UPDATES: "@types/node"
jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
      - uses: actions/setup-node@v6
        with:
          node-version: 22
      - name: update go.mod
        run: |
          go get -u
          go mod tidy
          go mod download all
      - name: update web/package.json
        working-directory: web
        run: |
          npx npm-check-updates -u -x ${NODE_MINOR_UPDATES}
          npx npm-check-updates -u --target minor ${NODE_MINOR_UPDATES}
          npm update
          npm audit fix
      - name: update provision/package.json
        working-directory: provision
        run: |
          npx npm-check-updates -u -x ${NODE_MINOR_UPDATES}
          npx npm-check-updates -u --target minor ${NODE_MINOR_UPDATES}
          npm update
          npm audit fix

      - uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: "Update dependencies"
          title: "Update dependencies"
          branch: "update-dependencies"
          delete-branch: true
          reviewers: takkyuuplayer
          body: |
            Run

            ```
            $ git fetch --all
            $ git checkout update-dependencies
            $ git reset --hard origin/update-dependencies
            $ git commit --allow-empty -m "run ci"
            $ git push
            ```
